/* Estilo General del Site*/

$colorPrincipal: rgb(255, 255, 255);
$fuentePrincipal:  'Montserrat', sans-serif;

/* Tamaño del main*/

$anchoMain: 100%;
$altoMain: 40rem;

/* Tamaño de videos*/

$anchoVideo: 80rem;
$altoVideo: 40rem;

/* Tamaño de links*/
$tamanoboton: 1rem;

